# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js build output
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
.DS_Store?
._*
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS files
Thumbs.db
ehthumbs.db
